<template>
    <div>
        <Header1>Get all Users</Header1>
        <div v-for="user in users" v-bind:key="user.user_id">
            <p>{{user.first_name}}</p>
        </div>
        <button @click="goToLanding">Click here to go to Landing page</button>
        <button><router-link :to="{ name: 'homecarehub' }">Go to HCH site</router-link></button>
    </div>
</template>

<script>
import axios from 'axios';
import { Header1 } from '../constants/typography.css'

export default {
    components:{
        Header1
    },

    data: function() {
        return{
            users:[]
        }
    },

    created(){
        axios.get('/api/vue-users')
            .then(res => this.users = res.data)
            .then(err => console.log(err));
    },

     methods:{
        goToLanding() {    
           this.$router.push('landing-page');   
        }
    }


}
</script>