<template>
<StyledFooter>
<ColumnSection>
<IndividualColumn>
    <UL>
        <LI>Company</LI>
        <li href="">About Us</li>
        <li href="">FAQ</li>
        <li href="">Blogs</li>
    </UL>
</IndividualColumn>
<IndividualColumn>
    <UL>
        <LI>Contact Us</LI>
        <li href="">Use our feedback form:</li>
        <li>Phone: 647-478-9320 /</li>
        <li>1-888-227-3080 (CARE-080)</li>
        <li>Fax: 647-931-4574</li>
        <li>info@homecarehub.com</li>
        <li>10 Dundas St E, Unit 600, Toronto, ON, M5B 2G9</li>
    </UL>
</IndividualColumn>
<IndividualColumn>
    <UL>
        <LI>Legal</LI>
        <li href="">Terms of Service</li>
        <li href="">Privacy Policy</li>
    </UL>  
</IndividualColumn>
                 
<IndividualColumn>
    <UL>
        <LI>Agency</LI>
        <li href="">Agency FAQ</li>
        <li href="">Apply to be an Agency</li>
        <li href="">Facility Request</li>
    </UL>  
</IndividualColumn>                 
                     
<IndividualColumn>
    <UL>
        <LI>Partner</LI>
        <li href="">Apply to be a Partner</li>
    </UL> 
</IndividualColumn>
     
</ColumnSection>                            


                <p>Homecare Hub Inc.</p>
                <ul class="list-inline social_icon">
                    <li>
                        <a href="https://facebook.com/OfficialHomecareHub/" class="ic facebook" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve">
                            <path id="Facebook" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z" fill="#93a1b5"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/homecare_hub" class="ic linkedin" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve" width="18px" height="16px">
                                <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411 c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z" fill="#93a1b5"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/homecare-hub/" class="ic twitter" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18px" height="16px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;" xml:space="preserve">
                            <path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707   c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21   v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824   C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463   c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z    M5.477,420.56h92.184v-277.32H5.477V420.56z" fill="#93a1b5"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/theofficialhomecarehub/" class="ic twitter" target="_blank">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h362c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm-180 390c-74.441406 0-135-60.558594-135-135s60.558594-135 135-135 135 60.558594 135 135-60.558594 135-135 135zm150-240c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0 0"/>
                            <path d="m407 90c-8.277344 0-15 6.722656-15 15s6.722656 15 15 15 15-6.722656 15-15-6.722656-15-15-15zm0 0"/>
                            <path d="m257 150c-57.890625 0-105 47.109375-105 105s47.109375 105 105 105 105-47.109375 105-105-47.109375-105-105-105zm0 0"/>
                        </svg>    
                        </a>
                    </li>
                </ul>
   
</StyledFooter>

</template>

<script>
import { StyledFooter, ColumnSection, IndividualColumn, UL, LI } from "./home-footer.css"

export default {
    name: "VueFooter",

    components:{
        StyledFooter, ColumnSection, IndividualColumn, UL, LI
    },
}
</script>