<template>
    <div>
        <Header1>This is the navbar</Header1>
        <img src="assets/images/logo/logo_main.svg" alt="">
        <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
        <router-link :to="{ name: 'landing-page' }" class="nav-link" >Landing-Page</router-link>
    </div>

</template>

<script>
import { Header1 } from '../constants/typography'

export default {
    name: "Navbar",

    components:{
        Header1,
    },
}
</script>