<template>
<FormContainer>
    <form v-on:submit="addUser">
        <b-field label="First Name">
            <b-input type="text"
                    v-model="first_name"
                    name="first_name"
                    placeholder="First Name">
            </b-input>
        </b-field>

        <b-field label="Last Name">
            <b-input type="text"
                    v-model="last_name"
                    name="last_name"
                    placeholder="Last Name"></b-input>
        </b-field>

        <b-field label="Email">
            <b-input type="email" 
                    v-model="user_email"
                    name="user_email"
                    placeholder="Email"></b-input>
        </b-field>

        <b-field label="Password">
            <b-input type="password" password-reveal></b-input>
        </b-field>

       <input type="submit" value="Submit"/>
    </form>
</FormContainer>
</template>

<script>
import { FormContainer } from './input-form.css'

    export default {
        name: "InputForm",

        components:{
            FormContainer
        },

        data() {
            return {
                users: [],
                first_name: "",
                last_name: "",
                user_email: ""
            }
        },

        methods: {
            addUser(e) {
            e.preventDefault();

            const newUser = {
                first_name: this.first_name,
                last_name: this.last_name,
                user_email:this.user_email
            };
            
            //send up to parent by emitting an event
            this.$emit("add-user", newUser);       
            },
        },   
    }
</script>

