<template>
    <div>
        <Header1>Input form and Post route</Header1>
        <InputForm v-on:add-user="addUser"/>
        <div v-for="user in users" v-bind:key="user.user_id">
            <p>{{user.first_name}}</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { Header1 } from '../constants/typography'
import InputForm from '../LandingPage/InputForm'

export default {
    name: "LandingPage",

    components:{
        Header1, InputForm
    },

    data: function() {
        return{
            users:[]
        }
    },

    created(){
        axios.get('/api/vue-users')
            .then(res => this.users = res.data)
            .then(err => console.log(err));
    },

    methods:{
        addUser(newUser) {
            const { first_name, last_name, user_email } = newUser;
            axios
                .post("/api/vue-users", newUser)
                .then((res) => (this.users = [...this.users, res.data]))
                .catch((err) => console.log(err));     
           // this.$router.push('/home');   
        }
    }
}
</script>