@import url('dash-header.css');
@import url('dash-sidebar.css');
@import url('dash-layout.css');

/* organisation profile */

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-weight: 600;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-filename.form-control {
    background: #fff;
}

.image-preview-input-title {
    margin-left: 2px;
}

.popover-title .close {
    margin-top: -12px;
    color: transparent;
}

.popover-content {
    min-width: 200px;
    text-align: center;
}

.image-preview-clear {
    padding-left: 30px;
}

.image-preview-clear .close.close-sm {
    left: 2px;
    top: 5px;
}

.popover-content img {
    width: auto !important;
    margin: 0 auto;
    height: auto !important;
    max-width: 200px;
    max-height: 200px;
}

.newform {
    min-height: calc(100vh - 302px);
}

.newform textarea {
    height: 126px;
}

.newform label,
.divlabel {
    display: block;
    line-height: 20px;
    color: #617088;
    font-weight: 600;
    margin-bottom: 10px;
}

.card_dropdown {
    position: absolute;
    right: 10px;
    top: 5px;
}

.divlabel .custom-checkbox {
    float: right;
}

.form-btns.text-center {
    text-align: center;
}

.form-footer {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px #bdd3de;
}

.form-footer .or {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #93a1b5;
}

.add_another {
    padding-left: 60px;
}

.add_another span.close.plus {
    border-color: #1589f9
}

.add_another span.close.plus::before,
.add_another span.close.plus::after {
    background: #1589f9;
}

.add_another:hover span.close.plus {
    border-color: #fff
}

.add_another:hover span.close.plus::before,
.add_another:hover span.close.plus::after {
    background: #fff;
}

.form-btns {
    margin-top: 40px;
    text-align: right
}

.form-btns .btn+.btn {
    margin-left: 20px;
}

.billing_history .panel {
    cursor: pointer;
    padding: 10px;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
    display: inline-block;
    width: 100%;
}

.billing_history .btn.download {
    border-color: #fff;
}

.billing_history .panel:hover .btn.download {
    border-color: #d4d4d4;
}

.billing_history .info_blk {
    text-align: center;
}

.billing_history .info_blk p:not(.b) {
    font-size: 12px;
    color: #93a1b5;
}

.billing_history .panel:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.card_list .panel-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card_list figure {
    width: 100px;
}

.card_list figure img {
    width: 100px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain;
}

.card_list .card_end {
    width: calc(100% - 380px);
    padding: 0 10px;
}

.card_list .expiry_date {
    width: 120px;
}

.card_list .expiry_date span {
    display: block;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
}

.yesno-btn {
    text-align: center;
}

.yesno-btn .btn {
    margin: 0 15px;
}

.modal-content .sub-head {
    font-size: 17px;
    color: #333333;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px 0 20px 0;
}

.modal-content .popup_icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.card_list label {
    margin-bottom: 0 !important;
}

.card_information h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.card_information .control-label {
    font-weight: 600;
}

[for="patient_phone"]:empty {
    display: none;
}

.form-group.inctexbill-frg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-group.inctexbill-frg p {
    margin: 0;
    width: 60%;
}

.inctexbill-boxes-wrap {
    display: flex;
    white-space: nowrap;
}

.form-group.inctexbill-frg .noted {
    width: 100%;
    margin-top: 10px;
    display: block;
}

@media (max-width:1024px) {
    .newform {
        min-height: auto;
    }
}

@media(max-width:767px) {
    .form-btns {
        text-align: center;
        margin-top: 20px;
    }
    .form-btns .btn {
        min-width: 100px;
    }
    .billing_history .panel {
        padding: 0;
    }
    .billing_history .info_blk {
        text-align: left;
        margin-top: 1px
    }
    .billing_history .info_blk .btn.download {
        margin-top: 6px;
        border-color: #d4d4d4;
    }
    .accept_cards img{
        margin-top: 8px;;
    }
}

@media(max-width:576px) {
    .card_list .panel-body{
        flex-wrap: wrap;
    }
    .card_list figure{
        width: 50px;
    }
    .card_list figure img{
        height: auto;
        width: 100%;
    }
    .card_list .card_end {
        width: calc(100% - 50px);
    }
    .accept_cards {
        font-weight: 600;
        font-size: 10px;
        line-height: normal;
    }
    
    /* .card_btns   .add_another span.close.plus {display: none;} */
}

@media(max-width:330px) {
    .newform label .custom-checkbox {
        max-width: 80%;
    }
}

/* Add Patient */

.jq-dte input {
    width: 30% !important;
    line-height: normal !important;
}

.jq-dte {
    border-color: #93a1b5 !important;
    border-radius:7px !important;
    color:#56657d !important;
    height: 34px;
    padding: 6px 12px !important;
    display: block !important;
}

.jq-dte-errorbox {
    display: none !important;
    position: initial !important;
}

/* .jq-dte-tooltip {
    
    position: static !important;
} */

@media (min-width: 1280px) {
    .jq-dte {
        height: 40px;
    }
}
